* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* nav */
#logo img {
  width: 264px;
  height: 85px;
  left: 42px;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: "SF Pro Display";
}

#navbar ul li {
  list-style: none;
  display: inline-flex;
  margin-top: 20px;
  padding: 10px 40px 10px 40px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #383838;
}

#navbar > ul > li > a {
  color: black;
  text-decoration: none;
}

.give {
  border: 2px solid #ec1a11;
  border-radius: 5px;
  background-color: #ec1a11;
  color: white !important;
}

/* top */
#top-text {
  width: 1512px;
  height: 718px;
  left: 0px;
  top: 100px;
  background: url(/winners/images/unsplash_k24rOBJ2D_0.jpg),
    rgba(196, 196, 196, 0.5);
  color: white;
}

#top-text {
  font-family: "SF Pro Display";
  font-style: normal;
}
#top-text h3 {
  position: absolute;
  font-family: "SF Pro Display";
  font-style: normal;
  width: 1175px;
  height: 214px;
  left: 164px;
  top: 385px;
  font-weight: 800;
  font-size: 90px;
  line-height: 107px;
  text-align: center;
}

#top-text p {
  position: absolute;
  font-family: "SF Pro Display";
  font-style: normal;
  width: 958px;
  height: 80px;
  left: 272px;
  top: 458px;
  font-weight: 500;
  font-size: 20px;
  line-height: 80px;
  text-align: center;
}

/* meetings */
#meetings {
  width: 100%;
}
#meetings h3 {
  text-align: center;
  color: #ec1a11;
  font-size: 48px;
  margin-top: 10px;
}

#meetings > p {
  text-align: center;
  margin: 10px 80px;
  height: 283px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

/* Gave your life to christ? */
#repent {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
}
.img-repent img {
  height: 450px;
  width: 100%;
  padding: 0 80px;
}
.repenting {
  padding: 0 80px 0 10px;
  width: 100%;
}
.repenting h3 {
  width: 90%;
  height: 31px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 20px;
  color: #ec1a11;
}
.repenting p {
  width: 621px;
  height: 283px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #383838;
  margin-bottom: 20px;
}

.repenting button {
  background-color: #ec1a11;
  border-color: #ec1a11;
  border-radius: 22px;
  height: 70px;
  width: 250px;
  color: white;
  font-size: 26px;
}

#tithe > img {
  margin: 40px 80px 40px 200px;
}

/* footer */
#footer {
  background-color: rgba(196, 196, 196, 0.06);
  width: 100%;
  margin: 80px 0 0 0;
  height: 400px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

#footer a {
  text-decoration: none;
  color: black;
}

.contact {
  width: 100%;
  height: 180px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 45px;
  padding: 30px 100px 0 80px;
}

.info {
  width: 100%;
  height: 180px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 45px;
  padding: 30px 0px 0 0px;
}

.useful {
  width: 100%;
  height: 270px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 45px;
  padding: 30px 20px 0 0px;
}

/* small */
#small {
  margin: -40px 30px 0 0;
  padding: 0 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
