* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* nav */
#logo img {
  width: 264px;
  height: 85px;
  left: 42px;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: "SF Pro Display";
}

#navbar ul li {
  list-style: none;
  display: inline-flex;
  margin-top: 20px;
  padding: 10px 40px 10px 40px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #383838;
}

.give {
  border: 2px solid #ec1a11;
  border-radius: 5px;
  background-color: #ec1a11;
  color: white !important;
}

/* top */
#top-text {
  width: 1512px;
  height: 718px;
  left: 0px;
  top: 100px;
  background: url(/winners/images/unsplash_3eSZaVlxsLw.jpg),
    rgba(196, 196, 196, 0.5);
  color: white;
}

#top-text {
  font-family: "SF Pro Display";
  font-style: normal;
}
#top-text h3 {
  position: absolute;
  font-family: "SF Pro Display";
  font-style: normal;
  width: 1175px;
  height: 214px;
  left: 164px;
  top: 385px;
  font-weight: 800;
  font-size: 90px;
  line-height: 107px;
  text-align: center;
}

#top-text p {
  position: absolute;
  font-family: "SF Pro Display";
  font-style: normal;
  width: 958px;
  height: 80px;
  left: 272px;
  top: 618px;
  font-weight: 500;
  font-size: 20px;
  line-height: 80px;
  text-align: center;
}

/* worship */
#worship > p {
  padding: 50px 0 50px 0;
  font-family: "SF Pro Display";
  font-style: normal;
  text-align: center;
  color: #000000;
  font-weight: bolder;
  font-size: 48px;
}

#worship h6 {
  text-align: center;
  padding: 10px;
  font-family: "SF Pro Display";
  font-size: 24px;
}

/* meetings */
#meetings {
  width: 100%;
}
#meetings h3 {
  text-align: center;
  color: #ec1a11;
  font-size: 48px;
  margin-top: 10px;
}
#grid-meetings {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-around;
  width: 95%;
  margin: 45px;
}
.grids {
  padding: 40px 10px;
  border: 1px solid #ec1a11;
  border-radius: 20%;
  background: rgba(236, 26, 17, 0.05);
  height: 274px;
  width: 273px;
  box-sizing: border-box;
}

.grids h6 {
  width: 192px;
  height: 50px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #383838;
}
.grids p {
  width: 200px;
  height: 109px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 40px;
  color: #383838;
}

/* first time worshipper */
#first {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
}
.worshipper {
  padding: 0 80px;
  width: 100%;
}
.worshipper h3 {
  width: 492px;
  height: 31px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 20px;
  color: #000000;
}
.worshipper p {
  width: 621px;
  height: 283px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #383838;
  margin-bottom: 20px;
}
.worshipper button {
  background-color: #ec1a11;
  border-color: #ec1a11;
  border-radius: 22px;
  height: 70px;
  width: 250px;
  color: white;
  font-size: 26px;
}

.img-worshipper img {
  height: 450px;
  width: 90%;
}

/* Gave your life to christ? */
#repent {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
}
.img-repent img {
  height: 450px;
  width: 100%;
  padding: 0 80px;
}
.repenting {
  padding: 0 80px 0 10px;
  width: 100%;
}
.repenting h3 {
  width: 90%;
  height: 31px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 20px;
  color: #000000;
}
.repenting p {
  width: 621px;
  height: 283px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #383838;
  margin-bottom: 20px;
}

.repenting button {
  background-color: #ec1a11;
  border-color: #ec1a11;
  border-radius: 22px;
  height: 70px;
  width: 250px;
  color: white;
  font-size: 26px;
}

#pastor {
  background: #fef4f3;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
  padding-bottom: 40px;
}
.pastor-img img {
  width: 95%;
  height: 788px;
  border-radius: 100px 0 0 100px;
  padding: 80px 0 80px 80px;
}
.meet {
  width: 100%;
  padding: 80px 80px 80px 0px;
}
.meet h3 {
  height: 40px;
  width: 60%;
  font-size: 48px;
  font-style: normal;
  font-family: "SF Pro Display";
  padding: 0 0 50px;
}
.meet p {
  width: 60%;
  line-height: 40px;
  font-style: normal;
  font-family: "SF Pro Display";
  font-size: 24px;
  font-weight: 400;
}

/* media */
#media {
  width: 90%;
  margin: 80px 0 80px 80px;
}

#media > h3 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 40px;
  color: #ec1a11;
}
#media > p {
  width: 1233px;
  height: 120px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

#media-grid {
  display: grid;
  grid-template-columns: 45% 45%;
  padding: 50px 0 0 0;
}

.media-watch {
  width: 100%;
}
.watch {
  width: 100%;
}
.watch > h3 {
  width: 582px;
  height: 53px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 40px;
}
.watch > p{
  width: 621px;
height: 283px;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;
}
.watch > button {
  background-color: #ec1a11;
  border-color: #ec1a11;
  border-radius: 22px;
  height: 70px;
  width: 250px;
  color: white;
  font-size: 26px;
  margin-top: 50px;
}